<% provide(:title,'login')%>
<div class="users-show">
  <h1 class="center">ログイン</h1>

  <div class= "form-group">
      <%= form_for(:session, url: login_path) do |f| %>

        <%= f.label :email, "メールアドレス" %>
        <%= f.text_field :email, class:'form-control' %>


        <%= f.label :password, "パスワード" %>
        <%= f.password_field :password, class:'form-control' %>

        <%= f.submit "ログイン", class: "btn btn-primary mb-2" %>
      <% end %>
  </div>
</div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
