<% provide(:title,'edit')%>
<div class="center jumbotron">
  <div class="form-template">
    <h1 class="center">編集</h1>

    <div class= "form-group">
        <%= form_for(@user) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>

          <%= f.label :name,"アカウント名" %>
          <%= f.text_field :name, class:' form-control' %>

          <%= f.label :email, "メールアドレス" %>
          <%= f.text_field :email, class:'form-control' %>

          <%= f.label :coname, "成式会社名 (好きな社名を決めてください。後から変更は不可です。)" %>
          <%= f.text_field :coname, class:'form-control' %>

          <%= f.label :password, "パスワード" %>
          <%= f.password_field :password, class:'form-control' %>

          <%= f.label :password_confirmation,"パスワードをもう一度入力してください" %>
          <%= f.password_field :password_confirmation, class:'form-control' %>

          <%= f.submit "完了", class: "btn btn-primary mb-2" %>
        <% end %>
    </div>
  </div>
</div>
