<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
    </aside>
    <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    <div class="col-md-8">
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1 class="copy">
      <span>なりしきは今すぐ成式会社の</span><br>
      <span>社長になれるアプリ</span>
    </h1>
    <%= link_to '社長になる', signup_path, class: 'btn btn-lg btn-primary btn-main'%>
    <p class="about_text">
      副業を始めたい<br>
      面白いことを始めたい<br>
      事業を始めてみたい<br>
    </p>

    <p class="about_text">
    <strong>それ、始めてみよう、なりしきで。</strong>
    </p>
    <div class="columns">
      <article class="column">
        <div class="column_img">
          <%= image_tag 'icon_ceo.png', size: '66x66' %>
          <h2 class="column_title"><strong>成式会社の社長として</strong></h2>
          <p class="column_text">情報発信することも<br>好きなことで働くのも<br>これからは社長として</p>
        </div>
      </article>
      <article class="column">
        <div class="column_img">
          <%= image_tag 'icon_naryshiki.png', size: '66x66' %>
          <h2 class="column_title"><strong>１成は１円として</strong></h2>
          <p class="column_text">成を稼ぐことも<br>成で投資することも<br>成を調達することも</p>
        </div>
      </article>
      <div class="column">
        <div class="column_img">
          <%= image_tag 'icon_company.png', size: '66x66' %>
          <h2 class="column_title"><strong>新たな価値の想像</strong></h2>
          <p class="column_text">フォローは１００人<br>フォロワーは無限大<br>必要な情は必要な分だけ</p>
        </div>
      </div>
    </div>
  </div>
<% end %>
