<header>
  <nav class="navbar navbar-expand fixed-top">
    <%= link_to root_path, id: 'logo-icon' do %><%= image_tag 'topicon_naryshiki.png', size: '250x100' %><% end %>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Github", "https://github.com/nonress/naryshiki", class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Login", "#", class: "nav-link" %></li>
    </ul>
  </nav>
</header>
